{% extends 'navbar.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>

<head>
	<title>My Second Try Web</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/forstyle.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

</head>


<body>
	<div class="bg1">


		<img src="{% static 'profpic.jpg'%}" class="profile">
		<h1>WELCOMEE</h1>

	</div>
</body>
{% endblock %}