{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/forstyle.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
</head>


<body>

	<div class="bg2" style="text-align: center;">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="{% url 'homepage' %}">HOME</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="{% url 'profileku' %}">My Profile<span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="{% url 'regisku' %}">Registration</a>
				      </li>
				    </ul>
				  </div>
				</nav>

		<h1>MY <img src="{%static 'aboutmepic.jpg' %}" class="about_me"> Profile</h1>
	</div>

	<div class="row">
	  <div class="col" style="background-color: #ffffff; margin: 1rem">
	  	<h1>It's Me!</h1>
	  	<p> nice to meet you, i'm <span style="color:black;font-weight:bold"> Jasmine Nur Safiera </span> </p>
		<p>an energetic and ambitious person <br> who has developed a mature and responsible approach to<br> any task that undertake or situation that i am presented with.</p>
	  </div>

	  <div class="col" style="background-color: #ffffff; margin: 1rem">
	  	<h1>Ktp-ku</h1>
	  	<p> Tanggal lahir : 31 mei 1999<br>Tempat Lahir : Jakarta<br>Universitas : Universitas Indonesia<br>Kewarganegaraan : Indonesia<br>status : tidak menikah<br> Bahasa : Indonesia </p>
	  </div>

	  <div class="w-100"></div>
	  <div class="col" style="background-color: #ffffff; margin: 1rem; height: 100%">
	  	<h1>Interest and Skill</h1>
	  	<p>Public Speaking</p>
			<div class="container">
			  <div class="skills pubspeak">80%</div>
			</div>

			<p>Photo Editing</p>
			<div class="container">
			  <div class="skills photed">65%</div>
			</div>

			<p>Jurnalistic</p>
			<div class="container">
			  <div class="skills jurnal">80%</div>
			</div>
			<br>
	  </div>

	  <div class="col" style="background-color: #ffffff; margin: 1rem">
	  	<h1>Experiences</h1>
	  	<ul class="list-unstyled">
		  <li class="media">
		    <img class="mr-3 logowanita" src="http://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png" alt="Generic placeholder image">
		    <div class="media-body">
		      <h5 style="font-size: 20px" class="mt-0 mb-1">Saya pernah menjadi</h5>
		      Staff of Press Compfest X
		    </div>
		  </li>
		  <li class="media my-4">
		    <img class="mr-3 logowanita" src="http://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png" alt="Generic placeholder image">
		    <div class="media-body">
		      <h5 style="font-size: 20px" class="mt-0 mb-1">Saya pernah menjadi</h5>
		      Staff of BEM Media Fasilkom
		    </div>
		  </li>
		  <li class="media">
		    <img class="mr-3 logowanita" src="http://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png" alt="Generic placeholder image">
		    <div class="media-body">
		      <h5 style="font-size: 20px" class="mt-0 mb-1">Saya pernah menjadi</h5>
		      PIC Mentor of Alfabeta
		    </div>
		  </li>
		  <li class="media">
		    <img class="mr-3 logowanita" src="http://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png" alt="Generic placeholder image">
		    <div class="media-body">
		      <h5 style="font-size: 20px" class="mt-0 mb-1">Saya pernah menjadi</h5>
		      Staff of Creative OH
		    </div>
		  </li>
		  <li class="media">
		    <img class="mr-3 logowanita" src="http://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png" alt="Generic placeholder image">
		    <div class="media-body">
		      <h5 style="font-size: 20px" class="mt-0 mb-1">Saya pernah menjadi</h5>
		      Staff PEMIRA FASILKOM 2017
		    </div>
		  </li>
		</ul>

	  </div>
	</div>



	</div>


</body>
</html>