{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/forstyle.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>


<body>

	<div class="bg1" style="height: 100%">

				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="{% url 'homepage'%}">HOME</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="{%url 'profileku'%}">My Profile<span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="{%url 'regisku'}">Registration</a>
				      </li>
				    </ul>
				  </div>
				</nav>


		<form>
			<div class="form-group">
			    <div class="col">
			    	<label for="exampleInputName">Your name</label>
			      <input type="text" class="form-control" placeholder="Your Name">
			    </div>
		    </div>
		    <div class="form-group">
			    <div class="col">
			    	<label for="InputDate">Your birth date</label>
			      <input type="date" class="form-control" id="inputdate">
			    </div>
		    </div>
		    <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="exampleInputUsername">Username</label>
				<input type="Username" class="form-control" id="exampleInputUsername" placeholder="Username">
			</div>
			 <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			 </div>
			 <div class="form-group">
			    <label for="exampleInputPassword1">Confirmation Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			 </div>
			  <div class="form-group form-check">
			    <input type="checkbox" class="form-check-input" id="exampleCheck1">
			    <label class="form-check-label" for="exampleCheck1">Check me out</label>
			  </div>
			  
			  <a href="home_story3.html">
			  <button type="button" class="btn btn-outline-success">Submit</button></a>
			  <br>
	</div>



</body>


</html>