html{
	height: 100%;
	width: 100%;
}

body{
	background-image : linear-gradient(60deg, #F0C27B 50%, #9CECFB 50%);
}

.bg1{
	margin: 2rem;
	background-color: #ffffff;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bg2{
	margin: 2rem;
	background-color: #ffffff;
	border-radius: 6%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bg3{
	width: 50%;
	margin: 1rem;
	margin-top: 3rem;
	background-color: #ffffff;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
}

.ktp{
	width: 50%;
	margin: 1rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
}

.profile{
	border-radius: 50%;
	width: 40%;
}

.about_me{
	border-radius: 50%;
	width: 35%;
}

h1{
	font-family: 'Pacifico', cursive;
	color: #F0C27B;
	font-size: 5vw;
}

p{
	font-family: 'Cormorant Garamond', serif;
	font-size: 30px
}

.container {
  width: 50%;
  background-color: #ddd;
  position: relative;
}

.skills {
  text-align: right;
  padding: 5px;
  color: white;
}

.pubspeak {width: 80%; background-color: #F0C27B;}
.photed {width: 65%; background-color: #F0C27B;}
.jurnal {width: 80%; background-color: #F0C27B;}

.logowanita{
	width: 25%;
	border-radius: 10%;